<div class="row mt-6">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <i class="fas fa-calendar-week fa-2x text-success"></i>
                <span class="display-3">0</span>
                <h5 class="card-title">New Hires This Week</h5>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <i class="fa fas fa-calendar fa-2x text-success"></i>
                <span class="display-3">0</span>
                <h5 class="card-title">New Hires This Year</h5>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <i class="fas fa-fire fa-2x text-danger"></i>
                <span class="display-3" ng-bind="app.firedCount">{{app.firedCount}}</span>
                <h5 class="card-title">Fires This Year</h5>
            </div>
        </div>
    </div>
</div>