<table class="table table-striped table-bordered">
    <tr>
        <th>Employee Name</th>
        <th>Street</th>
        <th>City</th>
        <th>State</th>
        <th>Zip Code</th>
        <th class="actions">Actions</th>
    </tr>
    <tr ng-show="app.employees.length === 0">
        <td colspan="6">No employees currently hired.</td>
    </tr>
    <tr ng-show="app.employees.length > 0" ng-repeat="employee in app.employees track by $index">
        <td>{{employee.name}}</td>
        <td>{{employee.street}}</td>
        <td>{{employee.city}}</td>
        <td>{{employee.state}}</td>
        <td>{{employee.zip}}</td>
        <td><span ng-click="app.removeEmployee(employee)" class="fas fa-trash-alt"></span></td>
    </tr>
</table>